:root {
  --primary-color: #2928fe;
  --secondary-color: #007aff;
  --box-shadow: 0 5px 10px rgba(160, 159, 159, 0.3);
}

header {
  background-image: linear-gradient(rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2)), url("/images/photography-work-background-2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 250px 0 470px 0;
}

.sans-serif-font {
  font-family: "Public Sans", Arial, Helvetica, sans-serif;
}

.serif-font {
  font-family: "Ogg Roman", "Times New Roman", Times, serif;
}

h1 {
  font-size: 68px;
  font-weight: 800;
  color: black;
  letter-spacing: -2px;
  line-height: 1;
  margin-bottom: 5px;
}

h2 {
  font-size: 24px;
  font-style: italic;
  color: black;
  margin-bottom: 20px;
}

.line-1 {
  margin: 0 auto 45px auto;
  width: 3px;
  height: 54px;
  background-color: black;
}

.primary-buttons {
  background: var(--primary-color);
  box-shadow: var(--box-shadow);
  color: white;
  border-radius: 4px;
  padding: 20px 15px;
  text-decoration: none;
  text-transform: capitalize;
  font-weight: 400;
}

.grid {
  display: grid;
  gap: 50px;
}

.why-photography {
  grid-template-columns: 1fr 1fr;
  align-items: center;
  padding: 175px 295px;
}

.why-photography-picture img {
  border-radius: 10px;
  width: 100%;
}

h4 {
  font-size: 20px;
}

h3 {
  font-size: 44px;
  line-height: 48px;
  margin-bottom: 40px;
}

p {
  font-weight: 100;
  font-size: 20px;
  line-height: 1.4;
}

.why-photography-text p:last-child {
  margin-bottom: 0;
}

strong {
  font-style: italic;
  font-weight: 200;
}

.travel-galleries {
  background-color: var(--secondary-color);
  padding: 100px 295px;
}

.travel-galleries h3 {
  margin-bottom: 40px;
}

.maps-grid {
  grid-template-columns: repeat(3, 1fr);
}

.places {
  background-color: white;
  border-radius: 10px;
}

.places iframe {
  width: 100%;
  border-radius: 10px 10px 0 0;
}

.places-text {
  padding: 30px;
}

.places-text p {
  font-size: 16px;
  line-height: 1.5;
}

.places-footer {
  padding: 0 0 50px 30px;
  margin: 0;
}

span {
  font-style: italic;
}

@media (max-width: 1080px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .why-photography,
  .travel-galleries {
    padding: 60px;
  }
}
